@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-gema-floating-button;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

.container{
  position: fixed;
  left: var(--cells-gema-floating-button-position-x, 50%);
  top: var(--cells-gema-floating-button-position-y, 100%);
  transform: translate(var(--cells-gema-floating-button-position-x, -50%), var(--cells-gema-floating-button-position-y, -100%));
}
