<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="cells-gema-floating-button-styles.html">
<dom-module id="cells-gema-floating-button">

  <script src="cells-gema-floating-button.js"></script>
</dom-module>